@model ApplicationUser


<div class="col-md-4 left-co">
    <div class="left-side">
        <div class="profile-info">
            <img src="~/cv/images/profile.jpg" alt="">
        </div>
        <h4 class="ltitle">Contact</h4>
        <div class="contact-box pb0">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="detail">
                <small>Web Sitem</small><br />
                @Model.UserContact.Telephone
            </div>
        </div>
        <div class="contact-box pb0">
            <div class="icon">
                <i class="fas fa-globe-americas"></i>
            </div>
            <div class="detail">
                <small>Web Sitem</small><br />
                <a class="bu" href="@Model.UserContact.WebSite">@Model.UserContact.WebSite</a>
            </div>
        </div>
        <div class="contact-box">
            <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="detail">
                <small>Adresim</small><br />
                @Model.UserContact.Address
            </div>
        </div>
        <h4 class="ltitle">Contact</h4>
        <ul class="row social-link no-margin">
            <li><a class="bu fab fa-facebook-f" href='@Model.UserContact.Facebook'></a></li>
            <li><a class="bu fab fa-twitter" href='@Model.UserContact.Twitter'></a></li>
            <li><a class="bu fab fa-linkedin-in" href='@Model.UserContact.LinkedIn'></a></li>
            <li><a class="bu fab fa-github" href='@Model.UserContact.GitHub'></a></li>
            <li><a class="bu fas fa-envelope" href="@Model.Email"></a></li>
        </ul>
        <h4 class="ltitle">References</h4>
        @if (Model.UserReference != null)
        {
            @foreach (var item in Model.UserReference)
            {
                <div class="refer-cov">
                    <b>@item.FullName</b>
                    <p>@item.Job</p>
                    <span>@item.Telephone</span>
                </div>
            }
        }
        <h4 class="ltitle">Hobbies</h4>
        <ul class="hoby row no-margin">
            <li><i class="fas fa-pencil-alt"></i> <br> Writing</li>
            <li><i class="fas fa-bicycle"></i> <br> Cycling</li>
            <li><i class="fas fa-futbol"></i> <br> Football</li>
            <li><i class="fas fa-film"></i><br> Movies</li>
            <li><i class="fas fa-plane-departure"></i> <br>Travel</li>
            <li><i class="fas fa-gamepad"></i> <br> Games</li>
        </ul>
    </div>
</div>